.main{
    display: flex;
    height: 80%;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
}

.middle-line{
    background-color: black;
    height: 0.3%;
    width: 80%;
}
.profile-data{
    border: black;
    width: 30%;
}

.details{
    width: 70%;
}

.btn4{
    padding: 1px !important;
    margin: 2px;
}