.size {
  width: 14rem;
  margin: 1rem;
}

.size { 
  transition: all 0s ease-in-out; 
}
.size:hover { 
  transform: scale(1.05); 
}
.close{
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.btn3{
  margin: 10px;
  width: 80%;
}

.delete{
  background: none;
  border: none;
}