.operation{
    color: white;
    font-size: 5rem;
    text-align: left;
}

.left{
    margin-left: 3rem;
}

.bg-color{
   background-color: gray;
   height: 80%;
}
.sign{
    color: white;
    font-size: 2rem;
}
.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    color: black;
}

.sign:hover{
    cursor: pointer;
    background-color: gray;
}
#signIn{
    background-color: gray;
}